<%- include('partials/head.html')%>

<div class="container">
	<header class="row">
	 	<div class="col-ig-12 text-center">
	 		<img src="/img/pews-logo.png" class="animate__animated animate__zoomInDown" alt="logo">
	 	</div>
	</header>
</div>


<!--	seccion one 	-->
<div class="container-fluid" id="about">
		<div class="row bg-dark text-white p-5 text-center">
			<div class="col-sm-6">
				<i class="fab fa-youtube fa-10x"></i>
			</div>
			<div class="col-sm-6">
				<h3>The most suscrite youtube </h3>
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor, sit quo asperiores ab quas debitis dolore placeat est, molestias error, minus sapiente praesentium modi, repudiandae delectus porro necessitatibus laudantium deleniti.</p>
			</div>
		</div>
	</div>

<%- include('partials/footer.html') %>