body {
	/*
     font-family: 'Spicy Rice', cursive;
	*/
	background: #f953c6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.derecha {
	justify-content: flex-end;
}